<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

    <bean class="org.apache.solr.client.solrj.impl.HttpSolrServer" id="httpSolrServer">
        <constructor-arg name="baseURL" value="http://192.168.25.128:8080/solr"/>
    </bean>

</beans>
